<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/slides/image1.jpeg"
        class="w-100 img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/slides/image2.jpeg"
        class="w-100 img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/slides/image3.jpeg"
        class="w-100 img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/slides/image4.jpeg"
        class="w-100 img-fluid"
        alt="..."
      />
    </div>
  </div>
</div>
